body {
  margin: 0 !important;
}
pre {
  position: relative;
  font-size: 14px;
  border-radius: 7px;
  margin-left: 100px !important;
  margin-right: 100px !important;
  padding-top: 15px !important;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  max-width: 100%;             /* Set the max-width of the content */
}
code {
  font-size: 15px !important;
  margin: -2px !important;
   max-width: 100%;
  word-wrap: break-word; 
}
#code-container {
  padding-top:220px;
  margin-bottom: 400px; 
  overflow: hidden;
}

.rubberDuck {
  max-width: 40px;
  margin: 20px 90px 10px 90px;
  position: relative;
}

.snippet-code {
  display: flex;
  flex-direction: column;
}

p {
  padding-left: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding-top: 50px;
}
.main-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  padding-top: 0px;
  margin-bottom: 10px;
  
}
.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding-top: 30px;
  margin-bottom: 10px;
  padding-left: 112px;
  padding-right: 112px;

}

.searchbar {
  padding-left: 100px;
  margin-right: 25px;
}
.searchInput {
padding: 5.5px;
border: 1px black solid;
width: 200px;
margin-right:10px;
border-radius: 15px;
}

.divider,
.divider2,
.divider3,
.divider4 {
  margin: 7px 100px;
  height: 2px;
  background-color: red;
}

.divider2 {
  width: calc(100% - 240px);
}

.divider3 {
  width: calc(100% - 270px);
  margin-bottom: 20px;
}

.divider4 {
  width: calc(100% - 200px);
  margin: 20px 90px;
}

#categoryFilter {
  margin-right: 85px;
  float:top;
  float:right;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  width: 22%;
  margin-top: 18px; 
  border: 2px solid black;
  border-radius: 10px;
  padding: 2px 4px;
}

.copyButton {
  font-size: 14px;
  display: block;
  margin-left: -5px;
  margin-top:10px;  
  background-color: white;
  border-radius: 15px;
  padding-bottom: 2px;
  cursor: pointer;
  padding: 3px 11px 4px 11px ;
  width: 60px;
}
.resetButtonBottom {
  border-radius: 15px;
  display: block;
  margin-top: 10px;
  padding: 5px 9px;
  float:left;
  border: 1px black solid;
  background-color: rgb(242, 242, 242);
}

.pdfButton {
  border-radius: 15px;
  margin-top: 10px;
  display: block;
  padding: 5px 9px;
  float:right;
  background-color: rgb(242, 242, 242);
  border: 1px black solid;
}

.resetButtonBottom:hover {
  background-color: rgb(255, 255, 255); 
}
.pdfButton:hover {
  background-color: rgb(255, 255, 255); 
  color:red
}

.resetButton {
  border-radius: 15px;
  margin-top: 20px;
  padding: 5px 9px;
  margin-right: 10px;
  background-color: rgb(242, 242, 242);
  border: 1px black solid;
}

.resetButton:hover {
  background-color: rgb(255, 255, 255); 

}

.encodeButton {
  border-radius: 15px;
  margin-top: 20px;
  padding: 5px 9px;
  margin-right: 10px;
  background-color: rgb(49, 50, 54);
  border: solid 1px rgb(49, 50, 54) ;
  color: white;
  background-image: linear-gradient(to right, #780206 0%, #061161  51%, #780206  100%);  
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
}

.encodeButton:hover {
  background-color: rgb(234, 234, 234);
  color: white;
  background-position: right center; /* change the direction of the change here */


}

.glossaryButton {
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 19px;
  margin-right: 10px;
  background-color: rgb(49, 50, 54);
  border: solid 1px rgb(49, 50, 54) ;
  color: white;
  background-image: linear-gradient(to right, #780206 0%, #061161  51%, #780206  100%);  
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  float:left;
}

.glossaryButton:hover {
  background-color: rgb(234, 234, 234);
  color: white;
  background-position: right center; /* change the direction of the change here */


}

.consoleEditorButton {
  border-radius: 15px;
  margin-top: 20px;
  padding: 5px 9px;
  margin-right: 10px;
  background-color: rgb(49, 50, 54);
  border: solid 1px rgb(49, 50, 54) ;
  color: white;
  background-image: linear-gradient(to right, #000000 0%, #53346D  51%, #000000  100%);
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
}

.consoleEditorButton:hover {
  background-color: rgb(234, 234, 234);
  color: white;
  background-position: right center; /* change the direction of the change here */

}


.notesButton {
  border-radius: 15px;
  margin-top: 20px;
  padding: 5px 9px;
  margin-right: 10px;
  background-color: rgb(255, 255, 222);
  border: 2px rgb(31, 31, 31) solid;
  background-image: linear-gradient(to right, #000000 0%, #53346D  51%, #000000  100%);
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
}

.notesButton:hover {
  background-color: rgb(246, 246, 181); 
  color: white;
  background-position: right center; /* change the direction of the change here */

}

.buttons-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-wrapper {
  z-index: 10; /* Give it a higher z-index value to place it on top of the other elements */

  width: 100%;
  position: fixed ;
  background-color: #ffffff;
  padding:0px 8px 10px;
}

.results {
  margin-left: 5px; 
  font-size: 13px; 
  color: rgb(103, 103, 103);
  padding-top: 0px !important;
  
}
@media screen and (max-width: 1000px) {
#categoryFilter {
width: 18%;  }
}

@media screen and (max-width: 950px) {
  #categoryFilter {
    display: none;
  }
  #code-container {
    padding-top:180px;
    margin-bottom: 400px; 
    overflow: hidden;
  }
  .buttons-wrapper{
    padding: 20px 10px;
  }
.notesButton{
  font-size: 12px !important;
}
.consoleEditorButton{
  font-size: 12px !important;
}
.encodeButton{
  font-size: 12px !important;
}
.resetButton{
  font-size: 12px !important;
}
}
@media screen and (max-width: 750px) {
  #code-container {
    padding-top:210px;
    margin-bottom: 400px; 
    overflow: hidden;
  }
  
  #categoryFilter,
  .consoleEditorButton,
  .notesButton,
  .encodeButton {
    display: none;
  }
  .title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    
    padding-top: 0px !important;
    margin-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .title-wrapper {
       padding: 0px 0px 0px;
}
.buttons-wrapper{
  padding: 20px 10px;
}
  }
@media screen and (max-width: 600px) {
  #categoryFilter {
    display: none;
  }
  .rubberDuck {
    max-width:35px;
    margin: 20px 30px 10px 40px;
    float:right
    }
  .searchbar {
    padding-left: 20px;
    margin-right: 20px;
  }
  .main-title {
    font-size: 32px;
    padding-left: 20px;
    margin-right: 20px;
  }
  .dividerMobile{
    height: 2px;
  background-color: red;
  margin:10px 30px 10px 20px ;
  
  }
  .dividerMobile1{
    height: 2px;
  background-color: red;
  margin:10px 50px 10px 20px ;
  
  }
  
  .dividerMobile2{
    height: 2px;
  background-color: red;
  margin:10px 70px 10px 20px ;
  
  }
  .divider,
  .divider2,
  .divider3,
  .divider4,
  .consoleEditorButton,
  .encodeButton{
    display: none;
  }
  #code-container {
    padding-top:160px;
    margin-bottom: 400px; 
    overflow: hidden;
  }
  .title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 0px !important;    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }
  pre {
    margin-left: 20px !important;
    margin-right: 20px !important;
    
  }
  code {
    font-size: 15px !important;
    margin: -2px !important;
    max-width: 100%;
    word-wrap: break-word;
  }

  .resetButtonBottom,
  .resetButton,
  .searchInput{
    font-size: 14px;
  }
  .pdfButton {
    display: none;
  }
  .buttonsBottomDiv {
    width: 100% !important;
    margin-left: 20px;
  

  }
  .resetButtonBottom{
  float:left;
  font-size: 12px !important;
  
  }
  
  .buttons-wrapper{
    padding: 20px 10px;
  }

  .consoleEditorButton,
  .encodeButton {
    display: none;
  }
  .title-wrapper{
    position: relative  ;
    padding: 0px 8px 10px;


  }
  #code-container {
    padding-top:0px !important;
    margin-bottom: 400px; 
    overflow: hidden;
  }
  .results {
    padding-left: 20px;
  }
}
@media screen and (max-width: 340px) {
  #code-container {
    padding-top:0px !important;
    margin-bottom: 400px; 
    overflow: hidden;
  }
  .resetButton {
    display: none;
  }
}